/* família padrão */
$font-sans:
  'Open Sans',
  system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;

$font-epilogue:
  'Epilogue',
  system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;

:root {
  --font-sans: #{$font-sans};
}

/* base */
body {
  font-family: var(--font-sans);
  font-weight: 400;
}

/* pesos normais */
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}

/* versão itálica */
.font-light-italic {
  font-weight: 300;
  font-style: italic;
}
.font-regular-italic {
  font-weight: 400;
  font-style: italic;
}
.font-medium-italic {
  font-weight: 500;
  font-style: italic;
}
.font-semibold-italic {
  font-weight: 600;
  font-style: italic;
}
.font-bold-italic {
  font-weight: 700;
  font-style: italic;
}
.font-extrabold-italic {
  font-weight: 800;
  font-style: italic;
}
